################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net7.0/5LetrasBanco.assets.cache
/.vs/5LetrasBanco/FileContentIndex
