@{
    ViewData["Title"] = "Página Inicial";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_5LetrasBanco.styles.css" asp-append-version="true" />
</head>
<div class="div-textoroxo">
    <p class="textoroxo">O seu sonho, nossa meta</p>
    <p class="textoroxo">Bora treinar e arrasar na parte de linguagens e na redação?</p>
</div>
