@model _5LetrasBanco.Models.Alunos


@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Aluno</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AlunoNome" class="control-label"></label>
                <input asp-for="AlunoNome" class="form-control" />
                <span asp-validation-for="AlunoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoEmail" class="control-label"></label>
                <input asp-for="AlunoEmail" class="form-control" />
                <span asp-validation-for="AlunoEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoSenha" class="control-label"></label>
                <input asp-for="AlunoSenha" class="form-control" />
                <span asp-validation-for="AlunoSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoEscolaridade" class="control-label"></label>
                <input asp-for="AlunoEscolaridade" class="form-control" />
                <span asp-validation-for="AlunoEscolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
